@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Bebas Neue", sans-serif;
}
/* Shared Styles */
.display-flex {
  display: flex;
}
.btn {
  padding: 18px 55px;
  color: white;
  background: linear-gradient(#ff8063 0%, #f46060 100%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
/* Navbar Related Styles */
header {
  margin: 0 auto;
}
nav {
  margin-top: 35px;
}
.nav-links {
  list-style-type: none;
  gap: 40px;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 1rem;
  font-weight: 500;
}
/* Hero Section Related Styles */
.hero {
}
.hero-container {
  /* border: 1px solid red; */
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
}
.hero-content {
  /* max-width: 350px; */
  /* border: 1px solid tomato; */
  text-align: right;

  width: 50%;
}

.hero-title {
  font-family: "bebas neue";
  font-size: 5rem;
  font-weight: 300;
  color: #363958;
}
.hero-title span {
  display: block;
  font-family: "bebas neue";
  color: #ff8367;
}
.hero-image {
  /* border: 1px solid tomato; */

  width: 50%;
}
.hero-image img {
  max-width: 100%;
  /* border: 1px solid tomato; */
}

.hero-description {
  color: #3e3e3e;
  font-size: 1rem;
  margin-bottom: 36px;
}
/* About Section Related Styles */
.about {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.about-content {
  max-width: 450px;
  /* border: 1px solid red; */
}
.about-image {
  max-width: 30%;
  /* border: 1px solid red; */
}
.about-image img {
  max-width: 100%;
  border-radius: 10%;
}
.about-title {
  font-family: "bebas neue";
  line-height: auto;
  font-weight: 500;
  font-size: 3rem;
  color: #363958;
  margin-bottom: 20px;
}
.about-description {
  font-size: 1rem;
  color: #3e3e3e;
  line-height: 26px;
  margin-bottom: 30px;
}
/* Projects  started*/
.project {
  margin: 50px auto;
  text-align: center;
  background: #f8f9ff;
  padding: 100px;
}
.project h2 {
  margin-bottom: 50px;

  font-family: "bebas neue";
  font-weight: 500;
  color: #f46060;
  font-size: 3rem;
}
.working-projects {
  color: #363958;
  font-family: "bebas neue";
  font-weight: 500;
}
.projects-card {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.project-single-card {
  max-width: 370px;
  /* border: 1px solid #f46060; */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.07);
  text-align: left;
}
.project-single-card img {
  max-width: 100%;
  margin-bottom: 30px;
}
.project-single-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #363958;
  margin-bottom: 12px;
}
.project-single-card p {
  font-size: 1rem;
  color: #3c3c3c;
  margin-bottom: 12px;
  line-height: 26px;
}
/* Footer Section Started */
footer {
  margin: 0 auto;
  text-align: center;
}
.footer-banner {
  display: flex;
  padding: 80px 70px;
  justify-content: space-between;
  max-width: 900px;
  background: #4225b6;
  color: white;
  border-radius: 30px;
  align-items: center;
  /* border: 1px solid tomato; */
  margin: 0 auto;
  margin-bottom: 90px;
}
.footer-banner h2 {
  font-size: 3rem;
  font-family: "bebas neue";
  font-weight: 500;
}
.footer-content h4 {
  font-size: 1.5rem;
  font-family: "bebas neue";
  font-weight: 300;
  color: #363958;
  margin-bottom: 16px;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-family: "roboto";
  font-weight: 700;
  color: #363958;
  margin-bottom: 16px;
}
.social-logos {
  display: flex;
  justify-content: center;
  gap: 27px;
  margin-bottom: 80px;
}
.social-logos img {
  max-width: 40px;
}

/* Mobile Device */
@media screen and (max-width: 576px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-content {
    text-align: center;
    width: 80%;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-title span {
    font-size: 3rem;
  }
  .hero-image {
    width: 100%;
    margin-bottom: 20px;
  }
}
